p:not(.meio) {
    color: blue;
}

input:checked + p {
    background: red;
}

input:not(:checked) + p {
    background: violet;
}

ul li:nth-child(odd) {
    background-color: rebeccapurple;
}

ul li:nth-child(even) {
    background-color: darkturquoise;
}

ul li:nth-child(3n) {
    background-color: darkcyan;
}

ul li:nth-child(3n+10) {
    background-color: darkgray;
}